.table-heading
	h3.title Nutrition Facts
	.table-text Serving Size 22 chips (1 oz)
		span.bg-elem(data-anchor-target=".desc.serving-size", data-10p-top, data-center-bottom)
	.table-text Serving Per Container 8
		span.bg-elem(data-anchor-target=".desc.serving-per-container", data-10p-top, data-center-bottom)
h4 AMOUNT PER SERVING
table
	tbody
		tr
			td <b>Calories</b> 150
				span.bg-elem(data-anchor-target=".desc.quick-facts", data-10p-top, data-center-bottom)
				span.bg-elem(data-anchor-target=".desc.calories", data-10p-top, data-center-bottom)
			td Calories from Fat 90
		tr
			th
			th % DAILY VALUE
				span.bg-elem.daily(data-anchor-target=".desc.daily-value", data-center-center, data-center-bottom)
		tr
			td <b>Total Fat</b> 10g
				span.bg-elem.row-3(data-anchor-target=".desc.quick-facts", data-10p-top, data-center-bottom)
				span.bg-elem.row-3.fats(data-anchor-target=".facts-tabs .facts-section", data-center-top, data-center-bottom)
			td <b>15</b>%
		tr
			td.sub Saturated Fat 1g
				span.bg-elem.row-4(data-anchor-target=".desc.avoid-too-much", data-10p-top, data-center-bottom)
			td <b>5</b>%
		tr
			td.sub Trans Fat Og
			td
		tr
			td <b>Cholesterol</b> 0mg
			td <b>6</b>%
		tr
			td <b>Sodium</b> 148mg
			td <b>4</b>%
		tr
			td <b>Total Carbohydrate</b> 15g
				span.bg-elem.row-3(data-anchor-target=".desc.quick-facts", data-10p-top, data-center-bottom)
				span.bg-elem.row-3.carb(data-anchor-target=".facts-tabs .facts-section", data-center-top, data-center-bottom)
			td <b>5</b>%
		tr
			td.sub Dietary Fiber 1g
				span.bg-elem(data-anchor-target=".desc.get-enough", data-10p-top, data-center-bottom)
			td <b>4</b>%
		tr
			td.sub Total Sugars 1g
				span.bg-elem(data-anchor-target=".desc.avoid-too-much", data-10p-top, data-center-bottom)
			td
		tr
			td <b>Protein</b> 2g
				span.bg-elem(data-anchor-target=".desc.quick-facts", data-10p-top, data-center-bottom)
				span.bg-elem.protein(data-anchor-target=".facts-tabs .facts-section", data-center-top, data-center-bottom)
			td
		tr
			td Vitamin A
				span.bg-elem.row-6(data-anchor-target=".desc.get-enough", data-10p-top, data-center-bottom)
			td <b>0</b>%
		tr
			td Vitamin D
			td <b>0</b>%
		tr
			td Iron
			td <b>2</b>%
		tr
			td Calcium
			td <b>0</b>%
		tr
			td Potassium 335mg
			td <b>10</b>%
		tr
			td Vitamin C
			td <b>10</b>%