section#Ingredients.ingredients.main-section(data-bottom-bottom, data-_hhh-top-bottom)
	.section-intro
		.img-block(data-anchor-target=".facts.main-section", style="background-image: url(assets/images/Title_pg_Chips/IngredientsList/Chips_IL_m.png);")
			img(src="assets/images/Title_pg_Chips/IngredientsList/Chips_IL.png", alt="", data-src="assets/images/Title_pg_Chips/IngredientsList/Chips_IL.gif")

			span.animation-img(data-anchor-target=".facts.main-section", data-bottom-bottom="!background-image: none;", data-_hhh-top-bottom="!background-image: url(assets/images/Title_pg_Chips/IngredientsList/Chips_IL.gif);")

		.text-block
			h1.h0 Ingredient list
			p Introduction paragraph goes here
	nav.section-pagination(data-bottom-top, data-top)
		ul
			li.active
				a(href="#order-matters")
					span Order Matters
			li
				a(href="#grains")
					span Grains
			li
				a(href="#additives")
					span Additives
			li
				a(href="#sugars")
					span Sugars
			li
				a(href="#GMOs")
					span GMOs
	.section-text-block#order-matters(style="background-image: url(assets/images/Background/Order@2x.png);", data-center-top="background-position: center 0px;", data-top-bottom="background-position: center 340px;")
		.block-holder
			h2.h1 Order Matters
			p Ingredients are listed in descending order by weight, so the first ingredient is present in the largest amount. Pay attention to what’s at the top of the list.
			ul.order-list(data-bottom-top)
				li potatoes
				li salt
				li oil
				li whey
				li maltodextrin
				li pepper
				li paprika
	.section-text-block
		.block-holder
			h2 What types of ingredients are important to look out for?
	.section-text-block-holder#grains(style="background-image: url(assets/images/Background/Grains@2x.png);", data-center-top="background-position: center 0px;", data-top-bottom="background-position: center 340px;")
		.section-text-block
			.block-holder
				h2.h1 All About Grains
				p The FDA recommends we get at least half of the grains we eat daily from whole grains. But how do you know if you’re eating a whole grain? 
		.grains-block(data-bottom-bottom, data-top)
			.grains-desc-wrapper
				.desc.whole-grain
					h2 Whole Grains
					p Contain the entire grain kernel (and all of those good nutrients and fiber).
					h3 Examples of Whole grains
					ul
						li Whole Wheat
						li Wild Rice
						li Popcorn
						li Oats/Oatmeal
						li Millet
						li Bulgur
					p.note And if you want to make sure a product has only whole grains — look for 100% Whole Wheat/Grain on the package!
				.desc.refined-grains
					h2 Refined Grains
					p Processed and stripped of essential B vitamins and fiber.
					h3 Examples of food made with refined grain
					ul
						li White Rice
						li Need examples of refined grains
						li White flour
						li White pasta 
					p.note When a grain is “enriched”, B vitamins are added back in but the fiber is not.
			.img-box-wrapper
				.img-box
					img(src="assets/images/graphic/Grains/WholeGrain.png", alt="")
					.refined-grain(data-anchor-target=".desc.refined-grains h2", data-250-center-top="height: 0%;", data--250-center-top="height: 100%;")
						img(src="assets/images/graphic/Grains/RefinedGrain.png", alt="")
	.section-text-block-holder#additives(style="background-image: url(assets/images/Background/Additive@2x.png);", data-center-top="background-position: center 0px;", data-top-bottom="background-position: center 340px;")
		.section-text-block
			.block-holder
				h2.h1 Additives
				p Lorem Ipsum A food additive is any ingredient added to food during production or processing. Additives have a number of different functions. 
		.additives-list
			.box.box-red
				h3 Arficial Color
				p Can be both natural and artificial; impart or enhance the color of a food.
			.box.box-blue
				h3 thickeners
				p Lorem ipsum about thickeners
			.box.box-yellow
				h3 Preservatives
				p Lorem Ipsum Can be both natural and artificial; impart or enhance the color of a food.
	.gallery-section
		.gallery-heading
			h2 Meet Your Additives
			p Main additives to look out for....
		.gallery
			.slide: img(src="assets/images/graphic/Additives/Add_Color_1.png", alt="Blue 1")
			.slide: img(src="assets/images/graphic/Additives/Add_Color_2.png", alt="Red 40")
			.slide: img(src="assets/images/graphic/Additives/Add_Color_2_1.png", alt="Yellow 6")
			.slide: img(src="assets/images/graphic/Additives/Add_Pre_1.png", alt="Sodium Nitrite")
			.slide: img(src="assets/images/graphic/Additives/Add_Pre_2.png", alt="TBHQ")
			.slide: img(src="assets/images/graphic/Additives/Add_Pre_3.png", alt="Sorbic Acid")
			.slide: img(src="assets/images/graphic/Additives/Add_Th_1.png", alt="Guar Gum")
			.slide: img(src="assets/images/graphic/Additives/Add_Th_2.png", alt="Modified food starch")
			.slide: img(src="assets/images/graphic/Additives/Add_Th_3.png", alt="Carrageenan")
		a.button(href="#") Learn More
	.section-text-block-holder#sugars(style="background-image: url(assets/images/Background/Sugar@2x.png);", data-center-top="background-position: center 0px;", data-top-bottom="background-position: center 340px;")
		.section-text-block
			.block-holder
				h2.h1 Sugars in Disguise
				p We’re talking about added sugars — they may be sweet but provide no nutritional value. Added sugars can be hidden in the ingredient list under nearly 100 different names.
				.sugar-block(data-center-top, data-center-bottom)
					.sugar-xray-box
					.sugar-xray-box-bg
					ul.list
						li(data-90-center-top, data--105-center-top) Dextrose
						li(data-90-center-top, data--105-center-top) Fructose
						li(data-90-center-top, data--105-center-top) High-fructose corn syrup
						li(data-90-center-top, data--105-center-top) Anhydrous
						li(data-90-center-top, data--105-center-top) Lactose
						li(data-90-center-top, data--105-center-top) Corn syrup solids   
						li(data-90-center-top, data--105-center-top) Evaporated cane juice
						li(data-90-center-top, data--105-center-top) Sucrose
						li(data-90-center-top, data--105-center-top) Barley malt
						li(data-90-center-top, data--105-center-top) Maltose 
						li(data-90-center-top, data--105-center-top) Panocha
						li(data-90-center-top, data--105-center-top) Fruit juice concentrate
						//- li(data-90-center-top, data--115-center-top) Dextrose
						//- li(data-90-center-top, data--115-center-top) Fructose
						//- li(data-90-center-top, data--115-center-top) High-fructose corn syrup
						//- li(data-90-center-top, data--115-center-top) Anhydrous
						//- li(data-90-center-top, data--115-center-top) Lactose
						//- li(data-90-center-top, data--115-center-top) Corn syrup solids   
						//- li(data-90-center-top, data--115-center-top) Evaporated cane juice
						//- li(data-90-center-top, data--115-center-top) Sucrose
						//- li(data-90-center-top, data--115-center-top) Barley malt
						//- li(data-90-center-top, data--115-center-top) Maltose 
						//- li(data-90-center-top, data--115-center-top) Panocha
						//- li(data-90-center-top, data--115-center-top) Fruit juice concentrate
			.block-holder.inner
				h2 And the list keeps going…
				p Added sugars can be hidden in the ingredient list under nearly 100 different names.
				a.button(href="#") Learn More

	.section-text-block-holder#GMOs(style="background-image: url(assets/images/Background/GMO@2x.png);", data-center-top="background-position: center 0px;", data-top-bottom="background-position: center 340px;")
		.section-text-block
			.block-holder
				h2.h1 Genetically Modified Ingredients
				p Genetically modified organisms (GMOs) in which the genetic material (DNA) is altered in a way that’s meant to translate into a product with a lower price, greater benefit (like durability or nutritional value) or both.
		.crops-section
			.block-holder
				h2 The 5 Crops
				p There’s a big debate (that we’re not going to get into!) around the impact of GMOs on both our health and the environment. The interesting thing to know is that GMOs are concentrated in 5 core crops.
			ul.crops-list
				li
					img(src="assets/images/graphic/GMO/corn.png", alt="Corn")
					h3 Corn
				li
					img(src="assets/images/graphic/GMO/cotton.png", alt="Cotton")
					h3 Cotton
				li
					img(src="assets/images/graphic/GMO/canola.png", alt="Canola")
					h3 Canola
				li
					img(src="assets/images/graphic/GMO/soybean.png", alt="Soy")
					h3 Soy
				li
					img(src="assets/images/graphic/GMO/sugarbeet.png", alt="Sugar Beet")
					h3 Sugar Beet
	.section-text-block-holder