section.intro.main-section#intro-section(data-bottom-bottom, data-_hhh-top-bottom)
	.landing-block(data-top, data-top-bottom)
		.text-block
			h1 Nutrition 101
			h2 A guide to knowing what you eat
		.link(data-anchor-target=".landing-block", data-top="opacity:1;" data-top-center="opacity: 0;") 
			.hold
				span.loading LOADING THE EXPERIENCE
				span.scroll Scroll down
			.loader
				svg.circular(viewBox="25 25 50 50")
					circle.path(cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")

	.intro-text(data-top, data-top-bottom)
		.text-block
			h2 Some kind of introductory phrase.
			p Welcome text, explanation text, inroduction text.
		span.link(data-anchor-target=".intro-text", data-top="opacity:1;" data-top-center="opacity: 0;", data-center-top="opacity: 0;")
	.product-intro(data-top, data-top-bottom)
		// mobile fallback
		.text-block
			img(src="assets/images/graphic/Landing/Chips.png", alt="")
			p Introduction paragraph goes here explaning the product and why we’re seeing it. etc. etc etc
	.images-section.parallaxBackground
		.product-1(data-anchor-target=".intro-text", data-top="margin-top[cubic]:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top[cubic]:-50vh;")
			img(src="assets/images/graphic/Landing/Can-no-shadow.png", alt="")
		.product-2(data-anchor-target=".intro-text", data-top="margin-top:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top:-80vh;")
			img(src="assets/images/graphic/Landing/Candy-no-shadow.png", alt="")
		.product-3(data-anchor-target=".intro-text", data-top="margin-top:-5vh; top:100%;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top: 0; top:50%;")
			img(src="assets/images/graphic/Landing/Chips-no-shadow.png", alt="", data-anchor-target=".intro-text", data-top="left: 100%", data-top-bottom="left: 0%;")
			p Introduction paragraph goes here explaning the product and why we’re seeing it. etc. etc etc
		.product-4(data-anchor-target=".intro-text", data-top="margin-top:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top:-80vh;")
			img(src="assets/images/graphic/Landing/Milk-no-shadow.png", alt="")
		.product-5(data-anchor-target=".intro-text", data-top="margin-top[cubic]:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top[cubic]:-50vh;")
			img(src="assets/images/graphic/Landing/Pasta-no-shadow.png", alt="")
	.images-section.shadows.parallaxBackground
		.product-1(data-anchor-target=".intro-text", data-top="margin-top[cubic]:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top[cubic]:-50vh;")
			img(src="assets/images/graphic/Landing/Can-shadow.png", alt="")
		.product-2(data-anchor-target=".intro-text", data-top="margin-top:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top:-80vh;")
			img(src="assets/images/graphic/Landing/Candy-shadow.png", alt="")
		.product-3(data-anchor-target=".intro-text", data-top="margin-top:-5vh; top:100%;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top: 0; top:50%;")
			img(src="assets/images/graphic/Landing/Chips-shadow.png", alt="", data-anchor-target=".intro-text", data-top="left: 100%", data-top-bottom="left: 0%;")
			p Introduction paragraph goes here explaning the product and why we’re seeing it. etc. etc etc
		.product-4(data-anchor-target=".intro-text", data-top="margin-top:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top:-80vh;")
			img(src="assets/images/graphic/Landing/Milk-shadow.png", alt="")
		.product-5(data-anchor-target=".intro-text", data-top="margin-top[cubic]:-5vh;", data-bottom-top="margin-top:0vh;", data-top-bottom="margin-top[cubic]:-50vh;")
			img(src="assets/images/graphic/Landing/Pasta-shadow.png", alt="")
