section#Packaging.packaging.main-section(data-bottom-bottom, data-_hhh-top-bottom)
	.section-intro
		.img-block(data-anchor-target=".ingredients.main-section", style="background-image: url(assets/images/Title_pg_Chips/PackagingClaims/Chips_PC_m.png);")
			img(src="assets/images/Title_pg_Chips/PackagingClaims/Chips_PC.png", alt="", data-src="assets/images/Title_pg_Chips/PackagingClaims/Chips_PC.gif")

			span.animation-img(data-anchor-target=".ingredients.main-section", data-bottom-bottom="background-image: none;", data-_hhh-top-bottom="!background-image: url(assets/images/Title_pg_Chips/PackagingClaims/Chips_PC.gif);")

		.text-block
			h1.h0 Packaging Claims
			p Introduction paragraph
	nav.section-pagination(data-bottom-top, data-top)
		ul
			li.active
				a(href="#unregulated")
					span Unregulated
			li
				a(href="#regulated")
					span Regulated
			li
				a(href="#certifications")
					span Certifications
			li
				a(href="#our-standards")
					span Our Standards
	.section-text-block#unregulated
		.block-holder
			h2.h1 Unregulated
			p Certain things on a package are unregulated and mean close to nothing. Anyone can put these claims on their packaging. It’s more marketing than anything else.
		ul.brands-list
			li
				.img-box
					input#unregulated-item-Multigrain(type="checkbox")
					label(for="unregulated-item-Multigrain")
						img(src="assets/images/card/claims/UR/Multigrain.png", alt="Multigrain")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-LowSugar(type="checkbox")
					label(for="unregulated-item-LowSugar")
						img(src="assets/images/card/claims/UR/LowSugar.png", alt="LowSugar")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-WholeGrains(type="checkbox")
					label(for="unregulated-item-WholeGrains")
						img(src="assets/images/card/claims/UR/WholeGrains.png", alt="WholeGrains")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-DoctorApproved(type="checkbox")
					label(for="unregulated-item-DoctorApproved")
						img(src="assets/images/card/claims/UR/DoctorApproved.png", alt="DoctorApproved")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-RealFruit(type="checkbox")
					label(for="unregulated-item-RealFruit")
						img(src="assets/images/card/claims/UR/RealFruit.png", alt="RealFruit")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-KidFriendly(type="checkbox")
					label(for="unregulated-item-KidFriendly")
						img(src="assets/images/card/claims/UR/KidFriendly.png", alt="KidFriendly")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-Fresh(type="checkbox")
					label(for="unregulated-item-Fresh")
						img(src="assets/images/card/claims/UR/Fresh.png", alt="Fresh")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
			li
				.img-box
					input#unregulated-item-Natural(type="checkbox")
					label(for="unregulated-item-Natural")
						img(src="assets/images/card/claims/UR/Natural.png", alt="Natural")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
	.section-text-block#regulated
		.block-holder
			h2.h1 Regulated
			p But there are some claims that really do have meaning and are regulated by governing bodies. Here are the ones that have to meet certain requirements and therefore have more weight.
			p.note Click each badge to learn more.
		ul.brands-list.border
			li
				.img-box
					input#regulated-item-cagefree(type="checkbox")
					label(for="regulated-item-cagefree")
						img(src="assets/images/card/claims/regulated/cagefree.png", alt="Cage Free")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Cage Free
			li
				.img-box
					input#regulated-item-FarmRaised(type="checkbox")
					label(for="regulated-item-FarmRaised")
						img(src="assets/images/card/claims/regulated/FarmRaised.png", alt="Farm Raised")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Farm Raised
			li
				.img-box
					input#regulated-item-FreeRange(type="checkbox")
					label(for="regulated-item-FreeRange")
						img(src="assets/images/card/claims/regulated/FreeRange.png", alt="Free Range")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Free Range
			li
				.img-box
					input#regulated-item-Calcium(type="checkbox")
					label(for="regulated-item-Calcium")
						img(src="assets/images/card/claims/regulated/Calcium.png", alt="Good Source of Calcium")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Good Source of Calcium
			li
				.img-box
					input#regulated-item-Iron(type="checkbox")
					label(for="regulated-item-Iron")
						img(src="assets/images/card/claims/regulated/Iron.png", alt="Good Source of Iron")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Good Source of Iron
			li
				.img-box
					input#regulated-item-Potassium(type="checkbox")
					label(for="regulated-item-Potassium")
						img(src="assets/images/card/claims/regulated/Potassium.png", alt="Good source of potassium")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 good source of potassium
			li
				.img-box
					input#regulated-item-vitA(type="checkbox")
					label(for="regulated-item-vitA")
						img(src="assets/images/card/claims/regulated/vitA.png", alt="Good Source of Vitamin A")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Good Source of Vitamin A
			li
				.img-box
					input#regulated-item-VitC(type="checkbox")
					label(for="regulated-item-VitC")
						img(src="assets/images/card/claims/regulated/VitC.png", alt="High Vitamin C")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 High Vitamin C
	.section-text-block#certifications
		.block-holder
			h2.h1 Certifications
			p These certifications are third party regulated, so products have meet to certain requirements to put these logos on their package.
			p.note Click each badge to learn more.
		ul.brands-list
			li
				.img-box
					input#certifications-item-C_Non-GMO(type="checkbox")
					label(for="certifications-item-C_Non-GMO")
						img(src="assets/images/card/claims/certified/C_Non-GMO.png", alt="No GMO")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 No GMO
			li
				.img-box
					input#certifications-item-C_Gluten-Free(type="checkbox")
					label(for="certifications-item-C_Gluten-Free")
						img(src="assets/images/card/claims/certified/C_Gluten-Free.png", alt="Gluten Free")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Gluten Free
			li
				.img-box
					input#certifications-item-C_BCorp(type="checkbox")
					label(for="certifications-item-C_BCorp")
						img(src="assets/images/card/claims/certified/C_BCorp.png", alt="B Corp")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 B Corp
			li
				.img-box
					input#certifications-item-C_Halal(type="checkbox")
					label(for="certifications-item-C_Halal")
						img(src="assets/images/card/claims/certified/C_Halal.png", alt="halal")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 halal
			li
				.img-box
					input#certifications-item-C_Kosher(type="checkbox")
					label(for="certifications-item-C_Kosher")
						img(src="assets/images/card/claims/certified/C_Kosher.png", alt="Kosher")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Kosher
			li
				.img-box
					input#certifications-item-C_Organic(type="checkbox")
					label(for="certifications-item-C_Organic")
						img(src="assets/images/card/claims/certified/C_Organic.png", alt="USDA organic")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 USDA organic
			li
				.img-box
					input#certifications-item-C_Sustainable_Seafood(type="checkbox")
					label(for="certifications-item-C_Sustainable_Seafood")
						img(src="assets/images/card/claims/certified/C_Sustainable_Seafood.png", alt="Sustainable Seafood")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Sustainable Seafood
			li
				.img-box
					input#certifications-item-C_Fair_Trade_Certified(type="checkbox")
					label(for="certifications-item-C_Fair_Trade_Certified")
						img(src="assets/images/card/claims/certified/C_Fair_Trade_Certified.png", alt="Fair Trade")
						.text-box: .holder Same as portion size, clicking badge shows more text explaning the meaning of the regulated claims and standards
				h3 Fair Trade
	.section-text-block#our-standards
		.block-holder
			h2.h1 Sage Standards
			p Here at Sage, we developed additional badges to help you identify standards that you will help you choose better products for your dietary needs.
			p
				a.button(href="#") Learn More