section#new-ways.ways.main-section(data-bottom-bottom, data-_hhh-top-bottom)
	.section-intro
		span.link(data-anchor-target=".ways.main-section", data-top="opacity:1;" data-top-center="opacity: 0;")
		.section-text-block
			.block-holder
				h1 You’ve now completed the basics. But wait, there’s so much more!
				p There are so many different ways of understanding food. Here are a few ways you might find useful.
		img(src="assets/images/graphic/NewWays/Garlic.png", alt="", width="250", height="364").position-one
		img(src="assets/images/graphic/NewWays/Friends.png", alt="", width="774", height="370").position-two
	.section-text-block.ways#new-ways
		.block-holder
			h1 New Ways to Understand Food
			p Intro Text ?? Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
		.post-list
			li
				.img-box.green
					img(src="assets/images/graphic/NewWays/Friends.png", alt="", width="256", height="136")
				h2 Nutrition Facts and Fiction
				a.more-link(href="#", data-popup-open="popup-1") Read more
			li
				.img-box.light-green
					img(src="assets/images/graphic/NewWays/food-for-price.png", alt="", width="106", height="141")
				h2 Price for Nutrition
				a.more-link(href="#", data-popup-open="popup-2") Read more
			li
				.img-box.pink
					img(src="assets/images/graphic/NewWays/Chocolate.png", alt="", width="103", height="147")
				h2 Exercise Equivalents
				a.more-link(href="#", data-popup-open="popup-3") Read more
			li
				.img-box.green
					img(src="assets/images/graphic/NewWays/Friends.png", alt="", width="256", height="136") 
				h2 Nutrition Facts and Fiction
				a.more-link(href="#", data-popup-open="popup-1") Read more
			li
				.img-box.green
					img(src="assets/images/graphic/NewWays/Friends.png", alt="", width="256", height="136")
				h2 Nutrition Facts and Fiction
				a.more-link(href="#", data-popup-open="popup-1") Read more
			li
				.img-box.light-green
					img(src="assets/images/graphic/NewWays/food-for-price.png", alt="", width="106", height="141")
				h2 Price for Nutrition
				a.more-link(href="#", data-popup-open="popup-2") Read more
			li
				.img-box.pink
					img(src="assets/images/graphic/NewWays/Chocolate.png", alt="", width="103", height="147")
				h2 Exercise Equivalents
				a.more-link(href="#", data-popup-open="popup-3") Read more
			li
				.img-box.green
					img(src="assets/images/graphic/NewWays/Friends.png", alt="", width="256", height="136")
				h2 Nutrition Facts and Fiction
				a.more-link(href="#", data-popup-open="popup-1") Read more

		a.link-top(href="#intro-section")
include _popup.pug