section.packaging {
	background: #f9f6ee;
	position: relative;
/* 	padding-bottom: 20px; */
	.ie11 & .section-text-block {
		height: auto;
	}
	.note {
        color: #9b9b9b;
        font-size: 14px;
    }
    @include media('>=tablet') {
    	.note {
    		font-size: $base-font-size;
    	}
    }
}

.brands-list {
	@extend %listreset;
	max-width: $max-width;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	li {
		flex: 0 0 310px;
		max-width: 310px;
		padding: 32px;
	}
	.img-box {
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.25);
			.mobile-device & {
				transform: none;
			}
		}
	}
	img {
		width: 100%;
		border-radius: 50%;
	}
	input[type=checkbox] {
		position: absolute;
		left: -9999px;
		&:checked + label {
			.text-box {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	label {
		display: block;
		margin: 0;
	}
	.text-box {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: 50%;
		background: #f5d77f;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #fec017;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s;
		.holder {
			padding: 15px;
		}
	}
	h3 {
		color: inherit;
		text-transform: uppercase;
		margin: 40px 0 0;
		letter-spacing: 2px;
		font-weight: $font-weight-semibold;
		padding: 0 20px;

	}
	&.border {
		img {
			border: 2px solid $text-color;
		}
	}
	@include media('>=tablet') {
		margin: 50px auto;
	}
}