.main-section.ways {
	.section-intro{
		position: relative;

		.block-holder {
			position: relative;
			z-index: 1;
		}
		.position-one {
			position: absolute;
			bottom: 93px;
			left: 5%;

			@media (max-width: 1270px) {
				width: 18vw;
			}
			@include media('<=desktop') {
				display: none;
			}
		}

		.position-two {
			position: absolute;
			bottom: 80px;
			right: -330px;

			@media (max-width: 1270px) {
				width: 59vw;
				right: -22%;
			}
			@include media('<=desktop') {
				display: none;
			}
		}
	}
	.link {
		background: url('../images/btn/arrow/down-big-white.png');
		background-repeat: no-repeat;
		width: 70px;
		height: 30px;
		position: absolute;
		bottom: 35px;
		cursor: pointer;
		z-index: 2;
		left: 50%;
		transform: translateX(-50%);

		@include media('<=desktop') {
			display: none;
		}
	}
}

.post-list {
	@extend %listreset;
	max-width: $max-width;
	padding: 20px 9px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: center;
	li {
		width: calc(25% - 22px);
		background: $color-white;
		border-radius: 5px;
		border: 1px solid $add-color-3;
		box-shadow: 0 1px 2px 0 #DDDDDD;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: 0 11px 41px;

		@include media('<=desktop') {
			width: calc(33% - 22px);
		}
		@include media('<=tablet') {
			width: calc(50% - 22px);
		}
		@media (max-width: 480px){
			width: calc(100% - 22px);
		}

		&:hover {
			.img-box img {transform: scale(1.2);}
		}
		
	}
	.img-box {
		position: relative;
		overflow: hidden;
		@include postImgBackground(rgba(0, 220, 146, 0.5), rgba(184, 233, 134, .6), rgba(247, 113, 82, .4));
		height: 210px;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		padding: 30px;

		img{
			transition: all 0.2s ease-out;
			transform: scale(1);
		}
	}
	h2 {
		color: inherit;
		padding: 20px 15px;
		font-weight: $font-weight-light;
		font-size: $font-size-l;
		font-family: $lt-font-family;
		border-bottom: 1px solid $add-color-3;
		margin: 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a{
		font-size: $base-font-size - 2px;
		color: $text-color;
		margin: 15px 5px;
		display: inline-block;
		vertical-align: top;

		&:hover {
			color: $link-color;
			text-decoration: none;
		}
	}
	@include media('>=tablet') {
		margin: 50px auto;
	}
}